/* Shrink profile image on about page */
.profile {
  width: 180px;      /* adjust */
  max-width: 180px;
}

.profile img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

body { outline: 6px solid red !important; }